.about_section {
    padding: 80px 0px;
    box-shadow: 0 0 20px #e9dbbb;
    margin-bottom: 150px;
}

.about_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_div img {
    height: 400px;
    width: 500px;
}

.about_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_div {
    margin: 20%;
}

.text_div h4 {
    color: goldenrod;
    font-weight: 700;
    font-size: 30px;
}

.text_div p {
    text-align: justify;
    color: #ad841c;
}

/* for small screen (less than 768px) */

@media screen and (max-width: 600px) {
    .img_div img {
        height: 270px;
        width: 300px;
    }
}

/* for large screen (768px to 1440px) */

@media screen and (min-width: 769px) {
    .about_section {
        display: grid;
        grid-template-columns: auto auto;
        padding: 70px 20px;
    }
}