.home {
    width: 100%;
}

/* for small screen (less than 768px) */
@media screen and (max-width: 768px) {
    .home{
        margin-top: 150px;
        padding-top: 150px;
        height: 450px;
        background-image: linear-gradient(to left, white 65%, goldenrod 35%);
    }
}
/* for large screen (768px to 1440px */
@media screen and (min-width: 775px) {
    .home {
        margin-top: 80px;
        /* padding-top: 10px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 600px;
        background-image: linear-gradient(to left, #fff 75%, goldenrod 25%);
    }
}