.works_section {
    width: 100%;
    margin-bottom: 150px;
    box-shadow: 0 0 20px #e9dbbb;
    padding: 40px 0;
}

.works_section h2 {
    text-align: center;
    color: goldenrod;
    font-size: 40px;
    font-weight: 700;
}

.works_section p {
    color: #2e2102;
    font-family: cursive;
    font-size: 16px;
    font-weight: 700;
}

/* for large screen (laptop) */

@media screen and (min-width: 769px) {
    .all_works {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

/* for less than 400px (small mobile screen) */

@media screen and (max-width: 400px) {
    .works_section h2 {
        font-size: 25px;
    }
    .works_section p {
        font-size: 12px;
        font-weight: 700;
    }
}