.intro_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_frame {
    /* margin: 10px 15px; */
    border-radius: 52% 48% 55% 45% / 43% 28% 72% 57% ;
    background-color: goldenrod;
}

.img_frame img {
    height: 300px;
    width: 400px;
}

@media screen and (min-width: 780px) {
    .intro_image .img_frame{
        margin-right: 90%;
    }
}