.intro_image {
    position: absolute;
}

.img_frame {
    border-radius: 67% 33% 54% 46% / 0% 63% 37% 100%;
    background-color: #cbd489;
}

.img_frame img {
    height: 250px;
    width: 300px;
}

/* for small screen */

@media screen and (max-width: 768px) {
    .intro_image {
        top: 530px;
        left: 26%;
    }
}

@media screen and (max-width: 600px) {
    .intro_image{
        top: 630px;
        left: 15%;
    }
    .img_frame img{
        height: 220px;
        width: 250px;
    }
}

/* for large screen */

@media screen and (min-width: 769px) {
    .intro_image {
        top: 230px;
        right: 250px;
    }
}